extends layout

block content
  h1 New Page Form
  form(method="POST")
    input(type="text" name="pageName" placeholder="pageName")
    input(type="text" name="description" placeholder="description")
    input(type="submit" name="Submit")
    